
.FilterBox{  
    font-size: 22px;
	color: white;
    position: center;
    display: flex;
    z-index: 9999;
	background-color: rgb(223, 209, 81); 
	width: 30%;
    margin: auto;
    flex-direction: column;
    padding-left: 2rem;
    margin-bottom: .7rem;
    border-radius: 25px;
    padding-bottom: 1rem;
	column-count: 2;
	font-family:'Courier New', Courier, monospace;

}

li{
	list-style-type: none;
	
}

.lists-div{

	display: flex;
	flex-direction: row;
	border-color: none;
	font-size: 22px;
	color: white;
    position: center; 
    z-index: 9999;
	background-color: rgb(223, 209, 81); 
	width: 80%;
    margin: auto;
	border-color:rgb(142, 190, 253);
    padding-left: 2rem;
    margin-bottom: .7rem;
    border-radius: 25px;
    padding-bottom: 1rem;
	column-count: 2;
	text-align: center;
	font-family:'Courier New', Courier, monospace;

}
.filterButton{
	font-family:  'Courier New', Courier, monospace;
	position: center;
	background-color: rgb(223, 209, 81);
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 22px;
}

.navBar{
    border-radius: 50%;
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.card{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 190, 253);
    color: #fff;
    padding-left: 2rem;
    margin-bottom: .7rem;
    border-radius: 25px;
    padding-bottom: 1rem;
    text-align: center;
}
.flex-container{
    min-height: 60vh;
    width: 70%;
}

.netflix{
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    bottom:500px;
}
.hulu{
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    bottom:500px;
}
.hbo{
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    bottom:500px;
}
.amazon{
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    bottom:500px;
}
.disney, .genre-select{
    background-color: rgb(223, 81, 81); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    bottom:500px; 
}

.genre{
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePage{
	background-image: url('https://ih1.redbubble.net/image.1399850632.3485/st,small,507x507-pad,600x600,f8f8f8.u1.jpg');
	border-color:rgb(142, 190, 253);  
}



/* ============================================================================================================================================================ */
.bg{
	background-color: #333;
	color: #fff;
	width: 30%;
	height: 150px;
	padding: 1rem;
	margin-top: 2%;
	display: flex;
	justify-content: center;
  }
  
  .cont{
	width: 20%;
	margin: 5% auto;
  }
  
  
  .img-btn{
	background-color: green;
	padding: .6rem .5rem; 
	color: #fff;
	font-size: 17px;
	border-radius: 5px;
	margin: 0 auto;
  
  }
  .img-btn:hover{
	cursor: pointer;
  }
  
  
  .modal-cont{
	/* background-color: yellow; */
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	display: flex; 
	justify-content: center;
	/*using flex just so we can align the child (modal card) inside of it */
	align-items: center;
	position: absolute;
  }
  
  .modal-card{
	background-color: olive;
	width: 80%;
	height: 80%;
	/* text-align: center;  */
	font-size: 19px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  
  
  }
  
  .relative{
	position: relative; 
  }
  
  .close-btn{
	width: 3rem;
	height: 3rem; 
	border-radius: 50%;
	background-color: red;
	color: #fff;
	position: absolute; 
	top: 0;
	right: 0;
	font-size: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	transform: translate(30%, -30%)
	
  }
  
  .close-btn:hover{
	cursor: pointer;
  }
  
  .modal-img{
	height: 300px;
	width: 300px;
	margin-right: 2rem;
  }